:root {
    --main-color: #F1F5F9;
    --border-color: salmon;
    --description-color: grey;
    --button-hover: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

/* mobile screen */
.flex-with-direction {
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
}

header {
    align-items: center;
}

hr {
    width: 80px;
    border-top: 2px solid var(--border-color);
    margin-top: 10px;
}

.search-area {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    /* vertical-align: middle; */
    align-items: center;
}

.search-input,
.search-button {
    box-sizing: border-box;
    font-size: 20px;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    margin: 20px 10px;
    border: solid 3px var(--border-color);
    vertical-align: middle;

}

.search-button {
    padding: 5px 15px;
}

.search-button:hover {
    background-color: var(--button-hover);
    border-style: inset;
}

.search-input:focus {
    transform: none;
    outline: 0;
}

.container {
    align-items: center;
    margin-top: 30px;
}

.search {
    width: 100%;
}

ul {
    align-items: center;
}

li {
    list-style-type: none;
    border: solid 3px var(--border-color);
    border-radius: 5px;
    border-style: outset;
    width: 80%;
    padding: 5px 0;
    margin: 5px;
    text-align: center;
}

li:hover {
    border-style: inset;
    background-color: var(--button-hover);
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--border-color);
    width: 100%;
}

.card {
    align-items: center;
    border-bottom: solid var(--border-color);
    width: 80%;
    margin: 5px 0;
}

.img {
    max-width: 600px;
}

img {
    width: 100%;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.name-and-price {
    position: relative;
    flex-direction: row;
    top: -50px
}

.dish-name {
    background-color: white;
    opacity: 0.8;
    width: 80%;
    text-align: center;
    /* position: relative; */
    bottom: 40px;
}

.dish-price {
    color: var(--border-color);
    text-align: end;
    bottom: 15px;
    font-size: 30px;
}

.dish-info {
    padding: 0 15px 15px 15px;
    position: relative;
    bottom: 10px;
}

.add-to-cart {
    display: flex;
    justify-content: flex-end;
}

.add-to-button {
    padding: 5px;
    border: solid 2px var(--border-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.add-to-button:hover {
    background-color: var(--button-hover);
}

@media (min-width: 600px) {
    .main {
        max-width: 1000px;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
    }

    .search {
        width: 60%;
        margin: 20px;
    }

    .search ul {
        flex-direction: row;
    }

    .card {
        margin-right: 30px;
        width: 40%;
        flex-direction: row;
        float: left;
        flex-grow: 4;
        border: none;
        align-items: flex-start;
    }

    .img {
        max-width: 200px;
    }

    .name-and-price {
        font-size: 20px;
        flex-direction: row;
        top: 0;
        border-bottom: 2px dashed var(--description-color);
    }

    .dish-name {
        text-align: left;
        margin-left: 20px;
        background-color: var(--main-color);
        font-size: 15px;
    }

    .dish-price {
        bottom: 0;
        margin-right: 10px;
        font-size: smaller;
    }

    .dish-info {
        bottom: 0;
        font-size: small;
        margin-top: 20px;
        color: var(--description-color);
    }

    .description {
        margin-left: 10px;
        max-width: 260px;
    }
}